/* syntax : .(dot operator)_className {property : value} */

.main{
color: blue;
text-transform: uppercase;
}
.maintwo{
color: pink
}
.mainthree{
    color:aqua
}
.newspaper{
    column-count:4;
    column-gap: 10px;
    /* column-rule-color: blueviolet;
    column-rule-width: 1px dotted; */
    /* column-rule-style: dotted  ; */
    column-rule: 4px double #ff00ff;;
}